html, body {
    width: 50%;
    margin: 0 auto;
    font-family: monospace;
  background: -webkit-gradient(linear,left top,left bottom,from(rgb(228, 39, 39)),to(rgb(70, 201, 79)))fixed;
}
.container {
    width: 360px;
    margin-top: 50px;
}
#inputField {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}
#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}
.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
    color: black;
    font-family: monospace;
    font-weight: bold;
}
.to-dos {
    margin-top: 25px;
}
h1{
    color: black;
}